<div class="container">
  <br>
  <p style="font-weight:bold">Brisbane – AUG Studyfest 2018 全澳留学移民教育展-布里斯班站</p>
  
  <br>
  <p>Professional Further Study & Further Stay Visa Advices for International Students, Opportunity for Face to Face Consultation with Australian Institutions Representatives.
将给留学生提供最专业的留学规划指导及与校方代表面试咨询机会。现场提供学生签证及移民咨询服务。</p>
  
  <br>
    <h3>Title *</h3>
    <div class="row">
        <div class="col-10">
            <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Mr.
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Ms.
  </label>
</div>

<br>

  <div class="form-group">
    <h3><label for="exampleInputEmail1">Family Name *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>
<br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Given Name *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>
<br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Mobile number *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>

  <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Email *</label></h3>
    <input type="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>

  <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Date of Birth *</label></h3>
   <input id="datepicker" width="270" />
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
    </script>
   <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
</div>

  <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Nationality *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>

  <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Current institution *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>

<!--Level of Study * -->
<br>
<h3>Level of Study *</h3>
 <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Year 11
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Year 12
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Foundation
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Diploma
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Advance Diploma
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Bachelor
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Master Coursework
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Master research / PhD
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Other:
  </label>
</div>

<!--Course (e.g. Engineering) *-->
  <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Course (e.g. Engineering) *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>


<!--Completion Date (e.g. Dec 2018) *-->
 <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Completion Date (e.g. Dec 2018) *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>


<!--Purpose of Visit * -->
<br>
<h3>Purpose of Visit *</h3>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Seeking further study
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
   Further Stay Visa Consultation
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    PTE Academic
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Professional Year Program
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    NAATI Course
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Just to get Freebies
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Other:
  </label>
</div>

<!--How did you know about this Expo? * -->
<br>
<h3>How did you know about this Expo? *</h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    AUG Staff/Email/SMS
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Friends/Relatives
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Facebook
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Weibo 微博
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Wechat 微信
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Tissue Box
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Posters
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Mailbox/Flyers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Student Associations
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Other:
  </label>
</div>

 <br>
  <div class="form-group">
    <h3><label for="exampleInputEmail1">Indicate your Social Media ID to receive event updates (e.g. Facebook/Weibo/Wechat ID) *</label></h3>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>

<br>
<p style="font-family: 'Roboto', sans-serif;">By clicking submit you are agreeing to the Terms & Conditions of this event and you are aware that the organizer shall have the final decision and reserve the right to change the Terms & Conditions without prior notice. You will be receiving a confirmation ticket within the next 5 working days. Please bring it (hard copy or soft copy) along while attending AUG Brisbane Studyfest 2017 to speed up the registration process.

点击提交表格意味着你将同意本活动的条款与细则，以及了解主办单位将享有关于本活动条款及细则的最终解释权和决定权。你将会在5个工作日内收到一封确认邮件。活动当天请出示确认邮件以加快登记程序。</p>

<br>
 
  <div class="container-fluid">
   <div class="col-sm-12 text-center">
       <button class="btn btn-primary" title="Submit">Submit</button>
       
   </div>
</div>
<br>

        </div>
    </div>
</div>
